$white_color: white
$grey_color: grey
$orange_color: orange

=flex_center
    display: flex
    justify-content: center
    align-items: center


.calculator
    min-height: 300px
    background-color: black
    border-radius: 5%

    .answer_screen
        min-height: 150px
        color: $white_color
        +flex_center
        font-weight: bold

    .section
        min-height: 75px
        display: flex
        justify-content: space-around

        .section_item
            width: 50px
            height: 50px
            +flex_center
            font-weight: bold
            color: $white_color
            background-color: $grey_color
            border-radius: 100%
            cursor: pointer
        .operator
            background-color: $orange_color
            